<p id="notice"><%= notice %></p>

<div class="page-header">
  <%= link_to 'New Task', new_task_path, :class => "btn btn-info pull-right" %>
  <h4>Tasks</h4>
</div>

<div class="row">

  <div class="col-sm-offset-1 col-sm-10">
    <table class="table">
      <thead>
      <tr>
        <th>Context</th>
        <th>Title</th>
        <!--
        <th>Description</th>
        -->
        <th>Tags</th>
        <th>Data</th>
        <th>Complete</th>
        <th>Active</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @tasks.each do |task| %>
          <tr>
            <td><%= task.context %></td>
            <td><%= task.title %></td>
            <!--
        <td><%= task.description %></td>
        -->
            <td><%= task.tags %></td>
            <td><%= task.data %></td>
            <td><%= task.complete_ts %></td>
            <td><%= task.active_ts %></td>
            <td><%= link_to 'Show', task, class: 'btn btn-info' %></td>
            <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-info' %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-info' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
