<%= form_for(site) do |f| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :data %>
    <%= f.text_area :data, class: "form-control"  %>
  </div>

    <ul class="list-inline">
      <li><%= f.submit 'Submit', class: "btn btn-success" %></li>
      <li><%= button_tag "Reset", type: :reset, class: "btn btn-default" %></li>
    </ul>
<% end %>
